@font-face {
  font-family: 'GothamBold';
  src: local('GothamBold'), url(./fonts/GothamBold.ttf);
}
@font-face {
  font-family: 'GothamBook';
  src: local('GothamBook'), url(./fonts/GothamBook.ttf);
}
@font-face {
  font-family: 'SFProBold';
  src: local('SFProBold'), url(./fonts/sfProBold.otf);
}
@font-face {
  font-family: 'SFProMedium';
  src: local('SFProMedium'), url(./fonts/SF-Pro-Display-Medium.otf);
}
@font-face {
  font-family: 'SFProLight';
  src: local('SFProLight'), url(./fonts/SF-Pro-Display-Thin.otf);
}
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}
p{
  margin: 0;
}
a{
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, span, button{
  color: #fff;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  color: #000;
}
button{
  transition: all ease 0.25s;
  outline:none;
}
.mainButton{
  background-color: #0000CA;
  color: #fff;
  font-size: 16px;
  padding: 10px 25px;
  font-family: SFProLight;
  transition: all ease 0.25s;
  border: none;
}
.mainButton:hover{
  cursor: pointer;
  transition: all ease 0.25s;
}
.smallMainButton{
  background-color: #0000CA;
  color: #fff;
  font-size: 16px;
  padding: 2px 5px;
  font-family: SFProLight;
  transition: all ease 0.25s;
  border: none;
  height: max-content;
}
.light{
  color:#fff;
}
h1{
  font-family: GothamBold;
}
h2{
  font-family: GothamBold;
}
h3{
  font-family: GothamBold;
  font-size: 24px;
  margin-bottom: 25px;
  text-align: left;
}
h4{
  font-family: GothamBold;
  font-size: 21px;
  margin-bottom: 25px;
  text-align: left;
}
p, span{
  font-family: SFProLight;
}
.text_bold{
  font-family: SFProBold;
}
.underline{
  text-decoration: underline;
}
.hide{
  display: none;
}
.hide_XL{
  display: block;
}
.hide_XS{
  display: none;
}
@media screen and (max-width: 860px) {
  .hide_XS{
    display: block;
  }
  .hide_XL{
    display: none;
  }
}

.first{
  height: 500px;
  background-color: #e6e6e6;
}
.second{
  height: 500px;
  background-color: #6e6e6e;
}
.third{
  height: 500px;
  background-color: #666666;
}
#container {
  width: 100%;
  height: 100%; 
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.panel {
  position: absolute;
  will-change: transform;
}



.container{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.m_order_2{
  height: 150px;
  width: 150px;
}


/* HOME */

.homePage_ctn{
  height: 100vh;
  width: 100vw;
  display: flex;
  font-size: 21px;
}
.homePage_ctn div, .homePage_ctn a, .homePage_ctn section{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.homePage_ctn p{
  font-family: GothamBold, Arial, sans-serif !important;
}
.homePage_ctn p{
  margin: 7px;
}
.homePage_ctn span{
  font-family: GothamBook;
}
.homePage_bloc{
  height: 100%;
}
.homePage_bloc_1{
  width: 45%;
}
.homePage_bloc_2{
  width: 55%;
  background-color: #B2B2B2;
  display: flex;
  position: relative;
  overflow: hidden;
}
.homePage_bloc_2 a{
  position: relative;
  height: 100%;
  width: 100%;
}
.homePage_bloc_2 div{
  z-index: 20;
}
.homePage_bloc_2 video{
  position: absolute;
  z-index: 10;
  height: 100%;
  top: 0;
}
.homePage_bloc_2 section{
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.homePage_bloc_2 section svg{
  height: 20px;
  width: 20px;
  fill:#fff;
}
.homePage_bloc_2 section p{
  font-size: 18px;
  flex-basis: 100%;
  font-family: SFProLight !important;
}
.home_first_bloc{
  display: flex;
  height: 45%;
}
.home_first_bloc_1{
  width: 60%;
  background-color: #4D4D4D;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_first_bloc_2_inside_1{
  height: 60%;
  background-color: #7B7B7B;
}
.home_first_bloc_2_inside_2{
  height: 40%;
  background-color: #DEDEDE;
}
.home_first_bloc_2{
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}
.home_first_bloc_2 > a{
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_second_bloc{
  height: 55%;
  background-color: #101010;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_second_bloc a{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.home_second_bloc a div{
  flex-basis: 100%;
}
.home_final_bloc{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.home_final_bloc p{
  font-size: 33px;
}
.home_final_bloc img{
  height: 150px;
}
.home_final_bloc > *{
  flex-basis: 100%;
  text-align: center;
}
.menu_open:hover{
  cursor: pointer;
}

@media screen and (max-width: 860px) {
  .homePage_ctn{
      flex-wrap: wrap;
  }
  .m_order_1{
      order: 1;
      width: 100%;
  }
  .m_order_2{
      order: 2;
      width: 100%;
  }
}


/* HEADER */ 

.header{
  position: absolute;
  width: 100%;
  top: 0;
  padding: 37.5px 45px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}
.header .burger{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 35px;
  fill: #fff;
  transition: all ease 0.25s;
}
.header .burger:hover{
  fill: #000;
  cursor: pointer;
}  
.header .social_medias{
  display: flex;
  justify-content: center;
}
.header .social_medias *{
  margin-left: 20px;
  fill: #fff;
}
.darkHeader .burger{
  fill: #000;
  transition: all ease 0.25s;
}
.darkHeader .burger:hover{
  fill: #fff;
}  
.darkHeader .social_medias *{
  fill: #000;
}

.menu{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #242427;
  z-index: 100;
  opacity: 0.97;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: unset;
}
.menu .close{
  position: fixed;
  top: 37.5px;
  left: 45px;
  width: 35px;
  fill: #fff;
  transition: all ease 0.25s;
}
.menu .close:hover{
  fill: #707070;
  cursor: pointer;
}
.menu div{
  display: grid;
}
.menu div a{
  font-family: GothamBold;
  font-size: 42px;
  color: #fff;
  margin: 10px 0;
  transition: all ease 0.25s;
}
.menu div a:hover{
  color: #707070;
}
@media screen and (max-width: 860px) {
  .menu div a{
    font-size: 26px;
  }
}


/* FOOTER */

.footer{
  background-color: #F7F7F7;
  min-height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 45px;
}
.footer div{
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.footer div a, .footer div p{
  color:#000;
  flex-basis: 100%;
  text-align: left;
  font-family: SFProMedium;
  font-size: 14px;
}
.footer div h4{
  font-size: 16px;
  flex-basis: 100%;
}
.footer img{
  height: 40px;
}
.footer svg{
  height: 35px;
  width: 35px;
}
.footer .social_medias{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.footer .social_medias svg{
  margin-right: 10px;
}
.footer form{
  display: flex;
  flex-wrap: wrap;
}
.footer form div{
  text-align: left;
  flex-basis: 95%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
.footer form button{
  margin-top: 3px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer form div label{
  color: #6E6E6E;
  font-family: SFProLight;
  font-size: 13px;
}
.footer form div input{
  width: 100%;
  border: none;
  padding: 10px;
  outline: none;
}
@media screen and (max-width: 860px) {
  .footer{
    background-color: transparent;
    width: 100%;
    padding: inherit;
  }
  .footer div{
    background-color: #F7F7F7;
    flex-basis: 100%;
    justify-content: center;
    margin: 1px 0;
    padding: 25px;
  }
  .footer form div{
    width: 100%;
  }
  .footer a, .footer p{
    text-align: center !important;
    margin: 3px 0;
  }
}


/* DECOUVRIR CENTRE */

.decouvrirCentre{
  width: 100%;
}
.decouvrirCentre .topBloc{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  min-height: 400px;
  height: 600px;
}
.background_img_water{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.decouvrirCentre .topBloc > div{
  background-color: #0000CA;
}
.decouvrirCentre .topBloc_nav{
  z-index: 10;
}
.decouvrirCentre .topBloc_nav div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 100%;
}
.decouvrirCentre .topBloc_nav div button{
  background-color: #fff;
  color:#000;
  border: none;
  font-weight: bold;
  font-size: 24px;
  padding: 3px 20px;
  margin: 10px 50px;
  min-width: 185px;
  font-family: GothamBold;
}
.decouvrirCentre .topBloc_nav div button:hover{
  cursor: pointer;
  background-color: #0000CA;
  color: #fff;
  transition: all ease 0.25s;
  transform: scale(1.1)
}
.decouvrirCentre h1{
  font-size: 42pt;
  margin: 0 0 50px;
}
.bottomBloc{
  display: flex;
  flex-wrap: wrap;
}
.bottomBloc_1{
  background-color: #F7F7F7;
  padding: 75px;
  width: 60%;
}
.bottomBloc_1 div{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  text-align: left;
  margin-bottom: 20px;
}
.bottomBloc_1 div p{
  font-family: SFProLight;
  font-size: 15px;

}
.bottomBloc_1 div b{
  font-family: SFProBold;
}
.bottomBloc_1 h2{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 34px;
  font-family: SFProBold;
}
.bottomBloc_1 p{
  margin-bottom: 50px;
}
.bottomBloc_2{
  width: 40%;
  position: relative;
  z-index: 50;
  display: flex;
  flex-wrap: wrap;
}
.bottomBloc_2 div{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottomBloc_2 div h1{
  margin: 50px 100px;
  font-size: 48px;
  text-align: left;
}
.bottomBloc_2 section{
  width: 100%;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 860px) {
  .decouvrirCentre .bottomBloc_1{
    width: 100%;
  }
  .decouvrirCentre .bottomBloc_2{
    width: 100%;
  }
  .decouvrirCentre .bottomBloc_2 div{
    width: 100%;
  }
}

/* INFOS PRATIQUES */

.infosPratiques{
  width: 100%;
}
.infosPratiques_topBloc{
  position: relative;
  display: block;
  justify-content: center;
  width: 100%;
}
.infosPratiques_topBloc_nav{
  position: relative;
  text-align: center;
  color: white;
  height: 325px;
}
.infosPratiques_topBloc_nav div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.infosPratiques_topBloc_nav img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.infosPratiques_topBloc_nav h1{
  font-size: 42px;
  padding: 5px 15px;
}
.infosPratiques_middleBloc{
  display: flex;
  flex-wrap: wrap;
  font-family: SFProLight;
  text-align: left;
  background-color: #101010;
}
.infosPratiques_middleBloc b{
  font-family: SFProBold;
}
.infosPratiques_middleBloc .left{
  width: 30%;
}
.infosPratiques_middleBloc .left_1{
  padding: 75px;
  background-color: #F7F7F7;
  font-size: 16px;
  text-align: left;
}
.infosPratiques_middleBloc .left_2{
  padding: 75px;
  background-color: #101010;
  text-align: left;
}
.infosPratiques_middleBloc .left_2 p{
  margin: 10px 0;
}
.infosPratiques_middleBloc .left_2 .button{
  margin: 30px 0;
}
.infosPratiques_middleBloc .right{
  width: 70%;
  background-color: #fff;
  padding: 75px;
}
.infosPratiques_middleBloc .plan{
  margin-top: 25px;
  width: 100%;
}
.infosPratiques_middleBloc .plan img{
  width: 100%;
}
.infosPratiques_bottomBloc{
  display: flex;
  flex-wrap: wrap;
}
.infosPratiques_bottomBloc .left{
  background-color: #F7F7F7;
  padding: 75px;
  width: 50%;
}
.infosPratiques_bottomBloc form{
  display: flex;
  flex-wrap: wrap;
}
.infosPratiques_bottomBloc form div{
  text-align: left;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
.infosPratiques_bottomBloc form .button{
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}
.infosPratiques_bottomBloc form div label{
  color: #707070;
  font-family: SFProMedium;
  font-size: 14px;
}
.infosPratiques_bottomBloc form div input, .infosPratiques_bottomBloc form div textarea{
  width: 100%;
  border: 1px solid #707070;
  padding: 10px;
  outline: none;
}
.infosPratiques_bottomBloc .right{
  width: 50%;
  position: relative;
  text-align: left;
  background-position: center;
  background-size: cover;
  padding: 75px;
}
.infosPratiques_bottomBloc .right img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.infosPratiques_bottomBloc .right form{
  margin-bottom:50px;
}
.infosPratiques_bottomBloc .right form div div{
  width: 100%;
}
.infosPratiques_bottomBloc .right form div div input{
  margin-bottom: 5px;
}

@media screen and (max-width: 860px) {
  .infosPratiques_middleBloc .left{
    flex-basis: 100%;
  }
  .infosPratiques_middleBloc .left_1{
    padding: 25px;
  }
  .infosPratiques_middleBloc .left_2{
    padding: 25px;
  }
  .infosPratiques_middleBloc .right{
    flex-basis: 100%;
    padding: 25px;
  }
  .infosPratiques_bottomBloc .left{
    flex-basis: 100%;
    padding: 25px;
  }
  .infosPratiques_bottomBloc .right{
    flex-basis: 100%;
    padding: 25px;
  }
}


/* BILLETTERIE */

.billetterie_topBloc{
  position: relative;
  display: block;
  justify-content: center;
  width: 100%;
}
.billetterie_topBloc_nav{
  position: relative;
  text-align: center;
  color: white;
  height: 200px;
}
.billetterie_topBloc_nav div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.billetterie_topBloc_nav img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.billetterie_topBloc_nav h1{
  font-size: 42px;
  padding: 5px 35px;
  min-width: 250px;
}
.billetterie_bottomBloc{
  display: flex;
  flex-wrap: wrap;
  font-family: SFProLight;
}
.billetterie_bottomBloc .left{
  padding: 75px;
  background-color: #F7F7F7;
  width: 60%;
  text-align: left;
}
.billetterie_bottomBloc .left h2{
  font-size: 32px;
  margin-bottom: 10px;
  font-family: SFProBold;
}
.billetterie_bottomBloc .recapInfos{
  margin-top: 25px;
}
.billetterie_bottomBloc .tarifs{
  margin-top: 45px;
}
.billetterie_bottomBloc .tarifsHead{
  display: flex;
  margin-bottom: 15px;
}
.billetterie_bottomBloc .tarifsHead p{
  width: 150px;
}
.billetterie_bottomBloc .tarifsHead :nth-child(1){
  width: 200px;
}
.billetterie_bottomBloc .tarifsBody{
  display: flex;
  flex-wrap: wrap;
}
.billetterie_bottomBloc .singleTarif{
  display: flex;
  flex-basis: 100%;
  margin-bottom: 10px;
  height: fit-content;
  padding-bottom: 15px;
  border-bottom: 1px solid #707070;
}
.billetterie_bottomBloc .singleTarif p{
  width: 150px;
}
.billetterie_bottomBloc .singleTarif p:nth-child(1){
  width: 200px;
}
.billetterie_bottomBloc .singleTarif select{
  border: 1px solid #707070;
  border-radius: 0;
  font-family: SFProLight;
  height: 26px;
  min-width: 75px;
}
.billetterie_bottomBloc .singleTarif option{
  font-family: SFProLight;
}
.billetterie_bottomBloc .infoTarif p{
  font-family: SFProLight;
  font-size: 14px;
}
.billetterie_bottomBloc .dates{
  margin-top: 25px;
}
.billetterie_bottomBloc .datePicker{
  height: 300px;
}
.billetterie_bottomBloc h3{
  font-family: SFProBold;
}
.billetterie_bottomBloc .active{
  font-family: SFProBold;
}
.billetterie_bottomBloc .right{
  background-color: #fff;
  width: 40%;
  position: relative;
  z-index: 50;
  display: flex;
  flex-wrap: wrap;
}
.billetterie_bottomBloc .right_1{
  padding: 75px;
  text-align: left;
  width: 100%;
}
.billetterie_bottomBloc .right_2{
  padding: 75px;
  width: 100%;
  background-size: cover;
  background-position: center;
  text-align: left;
}
.billetterie_bottomBloc .singleRecap{
  margin-bottom: 15px;
}
.billetterie_bottomBloc .total{
  border-top: 0.1px solid #fff;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.billetterie_bottomBloc form{
  display: flex;
  flex-wrap: wrap;
}
.billetterie_bottomBloc form div{
  text-align: left;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
.billetterie_bottomBloc form h4{
  margin: 25px 0 0;
}
.billetterie_bottomBloc form .button{
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
}
.billetterie_bottomBloc form div label{
  color: #707070;
  font-family: SFProMedium;
  font-size: 14px;
}
.billetterie_bottomBloc form div input{
  width: 100%;
  border: 1px solid #707070;
  padding: 10px;
  outline: none;
}
.billetterie_bottomBloc form .paiements{
  display: flex;
}
.billetterie_bottomBloc form .paiements .active{
  border: 2px solid #0000CA;
}
.billetterie_bottomBloc form .paiements div{
  border: 2px solid #fff;
  background-color: #fff;
  height: 75px;
  width: 125px;
  flex-basis: 125px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.billetterie_bottomBloc form .inputDate{
  display: flex;
  justify-content: flex-start;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
.billetterie_bottomBloc form .inputDate div{
  flex-basis: 125px;
  margin-right: 10px;
}
.billetterie_bottomBloc .valide{
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 35px;
}
.billetterie_bottomBloc .svg_ctn{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 25px 0;
}
.billetterie_bottomBloc .svg_ctn svg{
  width: 45px;
  height: 45px;
}
.billetterie_bottomBloc .valide .pdf{
  background-color: #E4E4E4;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  align-items: center;
}
.billetterie_bottomBloc .valide h3{
  flex-basis: 100%;
  text-align: center;
}
.billetterie_bottomBloc .valide .pdf button{
  margin: 25px 0;
}

@media screen and (max-width: 860px) {
  .billetterie_bottomBloc .left{
    padding: 25px;
    flex-basis: 100%;
  }
  .billetterie_bottomBloc .right{
    flex-basis: 100%;
  }  
}

/* PROGRAMMATION */

.programmation{
  width: 100%;
  overflow: hidden;
}
.programmation_animation{
  height: 400vh;
}
.programmation_topBloc{
  position: relative;
  display: block;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.programmation_topBloc_nav{
  position: relative;
  text-align: center;
  color: white;
  height: 100%;
}
.programmation_topBloc_nav > div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.programmation_topBloc_nav .filters{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: center;
}
.programmation_topBloc_nav .filters button{
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 21px;
  font-family: SFProLight;
  margin: 10px 20px;
  padding: 10px 15px;
}
.programmation_topBloc_nav .filters button:hover{
  border: none;
  color: #000;
  background-color: #fff;
  font-family: SFProBold;
  cursor: pointer;
}
.programmation_topBloc_nav .filters .active{
  border: none;
  color: #000;
  background-color: #fff;
  font-family: SFProBold;
}
.programmation_topBloc_nav img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.programmation_topBloc_nav h1{
  font-size: 42px;
  padding: 5px 35px;
  min-width: 250px;
  margin-bottom: 50px;
}
.programmation_topBloc .topScroll{
  position: absolute;
  bottom: 35px;
  width: 100%;
  text-align: center;
}
.programmation_topBloc .topScroll svg{
  width: 35px;
  height: 35px;
  fill: #fff;
}


.programmation_secondBloc{
  position: fixed;
  top: 100vh;
  height: 100vh;
  width: 100%;
  margin-top: 25px;
}
.programmation_secondBloc img{
  height: 80vh;
}
.programmation_secondBloc div{
  position: absolute;
  right: 10%;
  top: 0;
  width: 50%;
  padding: 25px;
  z-index: 50;
  text-align: left;
  max-width: 400px;
  padding-right: 50px;
}
.programmation_secondBloc h2{
  margin-bottom: 20px;
}
.programmation_thirdBloc{
  position: fixed;
  top: 100vh;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.programmation_thirdBloc img{
  height: 90%;
}
.programmation_fourthBloc{
  position: fixed;
  height: 100vh;
  top: 100vh;
  width: 100%;
}
.programmation_fourthBloc img{
  height: 70%;
}
.programmation_fifthBloc{
  position: fixed;
  height: 100vh;
  top: 100vh;
  width: 100%;
}
.programmation_fifthBloc .fifthBloc_text{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 350px;
  width: 50%;
  left: 10%;
  top: 30%;
  z-index: 30;
}
.programmation_fifthBloc .fifthBloc_text p{
  flex-basis: 100%;
  text-align: left;
  margin: 10px 0;
}
.programmation_fifthBloc img{
  height: 70%;
  z-index: 20;
  top: 20%;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 860px) {
  .programmation_secondBloc div{
    right: 5%;
    padding-right: 0;
  }
  .programmation_fifthBloc img{
    right: -50%;
    opacity: 0.75 !important;
  }
}

.programme_evenements h2{
  font-size: 42px;
  text-align: left;
  padding: 25px;
}
.programme_evenements article{
  margin-bottom: 20px;
}

.singleConference{
  display: flex;
  flex-wrap: wrap;
  min-height: 250px;
  height: 250px;
  overflow: hidden;
}
.ended{
  background-color: #000;
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.singleConference .left{
  width: 40%;
  height: 100%;
  display: flex;
  position: relative;
}
.singleConference .left img{
  width: 60%;
  object-position: center;
  object-fit: cover;  
}
.exposition .left{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exposition .left img{
  width: 100%;
  object-position: center;
  object-fit: cover;
}
.singleConference .left_right_1{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25px;
}
.singleConference .left_right{
  display: flex;
  flex-wrap: wrap;
}
.singleConference .left_right_1 p{
  margin: 10px 0;
}
.singleConference .left_right_2{
  background-color: #0000FF;
  width: 100%;
  min-height: 80px;
}
.singleConference .left_right_2 a:hover{
  background-color: #fff;
  color: #0000FF !important;
  transition: all ease 0.25s;
}
.singleConference .left_right_2 a{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all ease 0.25s;
}
.singleConference.left > div{
  width: 40%;
}
.singleConference .right{
  width: 60%;
  background-color: #F7F7F7;
  padding: 25px;
}
.singleConference .right p{
  text-align: left;
  max-width: 500px;
}
.singleConference .right > div{
  display: flex;
  justify-content: space-between;
}




@media screen and (max-width: 860px) {
  .singleConference{
    height: inherit;
  }
  .singleConference .left{
    width: 100%;
  }
  .singleConference .right{
    width: 100%;
  }
}

/* DECOUVRIR LE CENTRE */

.decouvrirLecentre{
  width: 100%;
  overflow: hidden;
}
.decouvrir_topBloc{
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.decouvrir_topBloc div{
  z-index: 20;
  width: 40%;
}
.decouvrir_topBloc div h2{
  font-size: 80px;
  opacity: 0.8;
}
.decouvrir_topBloc div h3{
  font-size: 28px;
  opacity: 0.8;
}
.decouvrir_topBloc img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 10;
}
.decouvrir_secondBloc{
  position: fixed;
  height: 100vh;
  width: 100%;
}
.decouvrir_secondBloc_topImg{
  width: 850px;
  position: absolute;
  left: -400px;
  top: -100px;
  z-index: -1;
}
.decouvrir_secondBloc_bottomImg{
  width: 850px;
  position: absolute;
  right: -250px;
  bottom: -100px;
  z-index: -1;
}
.decouvrir_thirdBloc{
  position: fixed;
  height: 100vh;
  width: 100%;
}
.decouvrir_thirdBloc img{
  position: absolute;
  width: 650px;
  top: 150px;
  right: 200px;
}
.decouvrir_thirdBloc h3{
  position: absolute;
  color:#fff;
  font-size: 40px;
  bottom: 250px;
  left: 50px;
}
.decouvrir_thirdBloc2{
  position: absolute;
  color:#000;
  font-size: 28px;
  bottom: 220px;
  left: 50px;
  background-color: #fff;
  padding: 3px 10px;
}
.decouvrir_thirdBloc3{
  padding: 3px 10px;
  position: absolute;
  color:#000;
  font-size: 28px;
  bottom: 170px;
  left: 50px;
  background-color: #fff;
}
.decouvrir_fourthBloc{
  position: fixed;
  height: 100vh;
  width: 100%;
}
.decouvrir_fourthBloc img{
  position: absolute;
  width: 450px;
  top: 150px;
  left: 400px;
}
.decouvrir_fourthBloc h3{
  position: absolute;
  color:#fff;
  font-size: 40px;
  bottom: 250px;
  left: 50px;
}
.decouvrir_fourthBloc2{
  position: absolute;
  color:#000;
  font-size: 28px;
  bottom: 220px;
  left: 50px;
  background-color: #fff;
  padding: 3px 10px;
}
.decouvrir_fourthBloc3{
  padding: 3px 10px;
  position: absolute;
  color:#000;
  font-size: 28px;
  bottom: 170px;
  left: 50px;
  background-color: #fff;
}


.decouvrir_fifthBloc{
  position: fixed;
  height: 100vh;
  width: 100%;
}
.decouvrir_danse{
  position: absolute;
  width: 80%;
  top: 100vh;
  left: 0;
}
.decouvrir_fifthBloc h3{
  position: absolute;
  color:#fff;
  font-size: 40px;
  top: 250px;
  right: 150px;
}
.decouvrir_fifthBloc2{
  position: absolute;
  color:#000;
  font-size: 28px;
  top: 310px;
  right: 150px;
  background-color: #fff;
  padding: 3px 10px;
}
.decouvrir_fifthBloc3{
  padding: 3px 10px;
  position: absolute;
  color:#000;
  font-size: 28px;
  top: 360px;
  right: 150px;
  background-color: #fff;
}
.decouvrir_fifthBloc_topImg{
  position: absolute;
  width: 850px;
  right: -350px;
  top: -200px;
  z-index: -1;
}
.decouvrir_fifthBloc_bottomImg{
  position: absolute;
  width: 850px;
  bottom: -200px;
  right: -200px;
  z-index: -1;
}



.animHelper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10000vh;
}
.animHelper *{
  background-color: red;
  opacity: 0.2;
  border-bottom: 3px solid #fff;
}
.a100{
  height: 100vh;
}
.a200{
  height: 200vh;
}











.triggerHelp{
  position: absolute;
  top: 0;
  z-index: 1000;
  left: 0;
  width: 100%;
}
.triggerHelp div{
  height: 100vh;
  background-color: red;
  opacity: 0.5;
  border: 1px solid black;
}

* {
  box-sizing: border-box;
}

.marker {
  width: 100%;
  left: 0;
  pointer-events: none;
  user-select: none;
  z-index: 100;
}

.timeline-trigger {
  position: fixed;
  border: 1px solid blue;
  z-index: 90;
}

.start-trigger {
  border: 1px solid green;
  position: absolute;
}

.end-trigger {
  border: 1px solid red;
  position: absolute;
}